In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt
import seaborn as sns

In [2]:
train = pd.read_csv('../data/train.csv')
train.head(2)
train.shape

(4167, 74)

In [3]:
# eliminamos las columnas que est치n con m치s del 50% de datos nulos
cols = list(train.columns)
elim = []

for col in cols:
    if sum(train[col].isnull()) > train.shape[0]*0.5:
        train.drop(col, axis=1, inplace=True)
        elim.append(col)
        
train.shape

(4167, 71)

In [4]:
# eliminamos las columnas que estan correlacionadas

# matriz con las correlaciones que guardan las columnas

upper = train.corr().abs().where(np.triu(np.ones(train.corr().abs().shape), k=1).astype(np.bool))

#lista de columnas que guardan correlacion elevada
to_drop = [column for column in upper.columns if any(upper[column] > 0.8)]
to_drop

['host_total_listings_count',
 'beds',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'availability_60',
 'availability_90',
 'number_of_reviews_l30d',
 'review_scores_accuracy',
 'reviews_per_month']

In [5]:
for drop in to_drop:
    train.drop(drop, axis=1, inplace=True)
train.shape

(4167, 60)

In [6]:
# dropeamos las filas nulas de estas columnas

original = len(train)
to_null = ['property_type', 'bedrooms', 'bathrooms_text']

df = train.dropna(subset=to_null, axis=0, how='any')
    
print('Number of NaN values removed:', original - len(df))

Number of NaN values removed: 257

In [7]:
df.head(2)
df.shape

(3910, 60)

In [8]:
df.to_csv('../data/traingordo1.csv')

In [9]:
test = pd.read_csv('../data/test.csv')
test.head(2)
test.shape

(1389, 73)

In [11]:
# eliminamos las columnas que est치n con m치s del 50% de datos nulos

to_drop2 = to_drop + elim

for col in to_drop2:
    test.drop(col, axis=1, inplace =True)

In [12]:
test.shape

(1389, 59)