In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt
import seaborn as sns
import math

from scipy import stats
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.metrics import r2_score as r2

In [2]:
train = pd.read_csv('../data/train_cleaned2.csv')
train.head(2)
train.shape

(3428, 61)

In [3]:
test = pd.read_csv('../data/test_cleaned2.csv')
test.head(2)
test.shape

(1389, 57)

In [4]:
X = train.drop(['price_log', 'price', 'Private room.2', 'Private room.3'], axis=1)
y = train.price_log

rfr = RFR()
rfr.fit(X, y)

RandomForestRegressor()

In [5]:
y_pred = rfr.predict(test)

In [6]:
for i in range(len(y_pred)):
    y_pred[i] = round(math.exp(y_pred[i]),2)

y_pred[:5]

array([ 53.29, 372.29,  87.7 , 101.67, 178.54])

In [7]:
sample = pd.read_csv('../data/sample.csv')
sample.head()

   price  id
0      0   0
1      0   1
2      0   2
3      0   3
4      0   4

In [8]:
sample.price = y_pred

In [9]:
sample.head()

    price  id
0   53.29   0
1  372.29   1
2   87.70   2
3  101.67   3
4  178.54   4

In [10]:
sample.to_csv('../data/rnd_frst_pred.csv', index=False)